{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
    <a class="navbar-brand" href="{%url 'index' %}" style="height: 36px; width: 150px;">REAL ESTATE</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="text-warning">
      <span class="float-right name" style="text-transform: capitalize;">Welcome as Admin, {{ request.user.get_full_name }}</span>
    </a> -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <h4 class="text-success">
          <span style=" font-weight: 800; margin-left: 30px; font-size: 25px; text-transform: capitalize;
          color:red; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><a href="{% url 'backend:dashboard' %}">{{ request.user.get_username }}</a></span>
          </h4>
          <hr>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{%url 'backend:dashboard' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item"  data-toggle="tooltip" data-placement="right" title="View Properties">
          <a class="nav-link"  href="{%url 'backend:new_listings'%}" >
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">View Property</span>
          </a>
        </li>
		
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
          <a class="nav-link" href="{%url 'backend:add_newlisting' %}">
            <i class="fa fa-fw fa-plus-circle"></i>
            <span class="nav-link-text">Add Property</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
          <a class="nav-link" href="{%url 'backend:list_users' %}">
            <i class="fa fa-fw fa-user-circle"></i>
            <span class="nav-link-text">View Users</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
          <a class="nav-link" href="{%url 'backend:list_all_post' %}">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">View All Post</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
          <a class="nav-link" href="{% url 'backend:user_profile' %}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">My Profile</span>
          </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Edit profile">
      <a class="nav-link" href="{%url 'backend:edit_newform' %}">
        <i class="fa fa-fw fa-user"></i>
      <span href="#">Edit Profile </span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Change Password">
      <a class="nav-link" href="{%url 'backend:pass_form' %}">
        <i class="fa fa-fw fa fa-lock"></i>
        <span class="nav-link-text">Change Password</span>
      </a>
    </li>
      </ul>

      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'frontend:buy' %}">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'frontend:rent' %}">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'frontend:contact' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
        
      </ul> 
      
    </div>
  </nav>