{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Home 
{% endblock %}



<body class="fixed-nav sticky-footer" id="page-top">
  
    {% block content %}


    <div class="container-fluid">
        <div class="row">

            {% if request.user.is_staff %}
  			    {% include 'backend/admin_newsidebar.html' %}
		    {% else %}
				{% include 'backend/user_sidebar.html' %}
		    {% endif %}
            
            <section class="col-md-10">
                <div class="content-wrapper">
                    <div class="container-fluid">
                      <!-- Breadcrumbs-->
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="{%url 'index' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Edit Profile</li>
                      </ol>
                
                
                
                <div class="col-md-8 add_top_30">
                    <div class="row">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-md-6">
                            <form method="post">
                                {% csrf_token %}
                                {{ edit_key.as_p }}
                                <input type="submit" value="Edit" class="btn btn-success">
                            </form>
                        </div>
                    </div>    
                </div>
            </section>
                <!-- /.container-wrapper-->
        </div>
    </div>
    
    {% endblock %}



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'backend:logout_view' %}">Logout</a>
            </div>
        </div>
        </div>
    </div>


  <script src="{% static 'backend/vendor/chart.js/Chart.js' %}"></script>
  <script src="{% static 'backend/js/admin-charts.js' %}"></script>

