{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Edit Profile</li>
      </ol>



<div class="col-md-8 add_top_30" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ edit_key.as_p }}
                <input type="submit" value="Edit" class="btn btn-success">
            </form>
        </div>
    </div>    
</div>

{% endblock %}