{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Listings
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Listings</li>
      </ol>
		<div class="box_general">
			<div class="header_box">
				<h2 class="d-inline-block">Listings</h2>
				<div class="filter">
					<select name="orderby" class="selectbox">
						<option value="Any time">Any time</option>
						<option value="Latest">Latest</option>
						<option value="Oldest">Oldest</option>
					</select>
				</div>
			</div>
			<div class="list_general">
				<ul>
					<li>
						{% if hlist %}
                            {% for h in hlist %}
								<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
									<div class="fh5co-property card h-100" style="min-height: 200px;">
										<figure>
											<img src="{{ h.add_img.url }}" alt="Card image cap" class="card-img-top img-fluid img-responsive" style="width: 640px; height: 425;">
											<a href="{% url 'frontend:detail_buy' b.id %}" class="tag">For Sale</a>
										</figure>
										<div class="fh5co-property-innter">
											<h3>{{ h.add_title }}</h3>
											<div class="price-status">
												<span class="price">&#8358;{{ h.add_price }}</span>
											</div>
												<p>{{ h.add_desription|truncatewords:50 }}</p>
												<p>Contact Us:&nbsp; {{ h.add_contact }}</p>
											</div>
											<p class="fh5co-property-specification">
											{{ h.add_date }}
											</p>
									</div>
								</div>
								<p><a href="#" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
								<p>
									<a href="#"  class="btn_1 gray delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Delete</a>
								</p>
							{% endfor %}
						{% endif %}
					
					</li>
				
				</ul>
			</div>
		</div>
		<!-- /box_general-->
		<!-- <nav aria-label="...">
			<ul class="pagination pagination-sm add_bottom_30">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav> -->
		<!-- /pagination-->
	  </div>
	  <!-- /container-fluid-->
   	</div>
    <!-- /container-wrapper-->
{% endblock %}