{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Home 
{% endblock %}



{% block content %}
<body class="fixed-nav sticky-footer" id="page-top">
    {% if request.user.is_staff %}
        {% include 'backend/admin_sidebar.html' %}
    {% else %}
        {% include 'backend/user_sidebar.html' %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            
            <section class="col-md-12">
                <div class="content-wrapper">
                    <div class="container-fluid">
                      <!-- Breadcrumbs-->
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="{%url 'index' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">View Property</li>
                      </ol>
                        <div class="box_general">
                            <div class="header_box">
                                <h2 class="d-inline-block" style="color: #1ec5cb !important;">View Properties</h2>
                                <div class="filter">
                                    <select name="orderby" class="selectbox">
                                        <option value="Any time">Any time</option>
                                        <option value="Latest">Latest</option>
                                        <option value="Oldest">Oldest</option>     
                                    </select>
                                </div>
                            </div>
                            <div class="list_general" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
                                <ul>
                                    <li>
                                        {% if hlist %}
                                            {% for h in hlist %}
                                                <figure><img src="{{ h.add_img.url }}" alt="" ></figure>
                                                <small>Property</small>
                                                <h4>{{ h.add_title }}</h4>
                                                <p>{{ h.add_desription|truncatewords:50 }}</p>
                                                <div class="row">
                                                    <p class=" col-md-4"><a href="{% url 'backend:view_newlistingdetails' h.id %}" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
                                                    <p class=" col-md-4"><a href="{{ h.id }}"  class="btn_1 gray btn-success"><i class="fa fa-fw fa-pencil"></i> Edit</a></p>
                                                    <p class=" col-md-4"><a href="{% url 'backend:delete_newproperty' h.id %}"  class="btn_1 gray delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Delete</a></p>     
                                                </div>  
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                </ul>       
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                <!-- /.container-wrapper-->
                
        </div>
    </div>



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">{{ request.user.get_full_name }}Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'backend:logout_view' %}">Logout</a>
            </div>
        </div>
        </div>
    </div>


  <script src="{% static 'backend/vendor/chart.js/Chart.js' %}"></script>
  <script src="{% static 'backend/js/admin-charts.js' %}"></script>
</body>
{% endblock %}
