{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Password Reset
{% endblock %}

{% block content %}
		<div class="fh5co-page-title">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 animate-box">
						<h1><span class="colored">Mail</span>&nbsp; Sent&nbsp;<i class="fa fa-fw fa-envelope-open"></i></h1>
					</div>
				</div>
			</div>
		</div>
		<div id="best-deal">
			<div class="container p-5 ">
				<div class="row">
					<h2 class="font-weight-bold mt-3">Password reset sent</h2>	
					<hr>
					<p>
						We've emailed you instructions for setting your password, if an account exists with the email you
						entered. You should receive them shortly.<br>If you don't receive an email, please make sure 
						you've entered the address you registerd with, and check your spam folder.
					</p>
				</div>
			</div>
		</div>


{% endblock%}