{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Change Password
{% endblock %}

{% block content %}
  <!-- /Navigation-->
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>
        </div>
    </div>
    		

		<div class="col-md-6" style=" margin-bottom: -500px;"></div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}
            
            <form method="post" style="margin-left: 300px; margin-top: 80px;">
                {% csrf_token %}
                {{ pass_key.as_p }}
                    <input type="submit" value="Change Password" class="btn btn-success">
            </form>
        
       
{% endblock %}