{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Password Reset
{% endblock %}

{% block content %}
	{% load crispy_forms_tags %}
		<div class="fh5co-page-title"  style="background-image: url({% static 'frontend/images/home.jpg' %});">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 animate-box" >
						<h1><span class="colored">Reset</span> Password</h1>
					</div>
				</div>
			</div>
		</div>
		<div id="best-deal" >
			<div class="container">
					<h2 class=" font-weight-bold">Reset Password</h2>
					<hr>
					<p>Forgotten your password? Enter your email address below, we'll email instructions for setting a new one.</p>
					<form method="POST" style="padding-bottom: 25px;">
						{% csrf_token %}
						{{ password_reset_form|crispy }}
						<div style="padding-top: 20px;">
							<button class="btn btn-primary" type="submit" >Send email</button>
						</div>
					</form>	
					
			</div>
		</div>


{% endblock%}