{% extends 'backend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Home
{% endblock %}

{% block content %}

<body class="fixed-nav sticky-footer" id="page-top">
  <!-- Navigation-->
  {% if request.user.is_staff %} 
  		{% include 'backend/admin_sidebar.html' %}
  {% else %}
  		{% include 'backend/user_sidebar.html' %}
  {% endif %}
  
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Profile</li>
      </ol>
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa fa-user"></i>Profile details</h2>
			</div>
			<div class="row" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
				<div class="col-md-8 add_top_30">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label style="font-size: 25px;">Name:</label>
								<p style="font-size: 18px;">{{ user.first_name }}</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label style="font-size: 25px;">Last name:</label>
								<p style="font-size: 18px;">{{ user.last_name }}</p>
							</div>
						</div>
					</div>
					<!-- /row-->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label style="font-size: 25px;">Username:</label>
								<p style="font-size: 18px;">{{ user.username }}</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label style="font-size: 25px;">Email:</label>
								<p style="font-size:18px;">{{ user.email }}</p>
							</div>
						</div>
					</div>
					<!-- /row-->
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label style="font-size: 25px;">Personal info:</label>
								<p style="font-size: 18px;">My name is {{ user.first_name }} {{ user.last_name }}. This is my Dashboard.</p>
							</div>
						</div>
						
					</div>
					<!-- /row-->
				</div>
			</div>
		</div>
	
</body>
</html>
{% endblock %}