{% load static %}

<section class="col-md-2" class="bg-dark">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div>
        {% if request.user.is_staff %} 
            {% include 'backend/admin_sidebar.html' %}
        {% else %}
            {% include 'backend/user_sidebar.html' %}
        {% endif %}

        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
                <i class="fa fa-fw fa-angle-left"></i>
            </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          
    </nav>
</section>