{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Home 
{% endblock %}



{% block content %}
<body class="fixed-nav sticky-footer" id="page-top">
    {% if request.user.is_staff %}
        {% include 'backend/admin_sidebar.html' %}
    {% else %}
        {% include 'backend/user_sidebar.html' %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            
            <section class="col-md-12">
                <div class="content-wrapper">
                    <div class="container-fluid">
                      <!-- Breadcrumbs-->
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="{%url 'index' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">View Property</li>
                      </ol>
                        <div class="box_general">
                            <div class="header_box">
                                <h1 class="d-inline-block" style="color: #1ec5cb !important;">View Agents</h1>
                            </div>
                            <hr>
                            <div class="list_general" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <section id="description">
                                            <div class="item-block animate-box" data-animate-effect="fadeIn">
                                                <div class="">
                                                  <figure>
                                                    <img src="{{ post.agent_img.url }}" class="img-responsive" style="padding-bottom: 10px; width: 300px; height: 400px; font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
                                                    
                                                  </figure>
                                                  <div class="fh5co-property-innter">
                                                    <h2><a href="#">{{ post.agent_title }}</a></h2>
                                                  
                                                    <p>{{ post.agent_desription }}</p>
                                                     <p><i class="fa fa-phone" style="color: blue !important;"></i>&nbsp;Contact Us:&nbsp; {{ post.agent_contact }}</p>
                                                     <p><i class="fa fa-map" style="color: blue !important;">&nbsp;</i>Address</i>:&nbsp; {{ post.agent_address }}</p>
                                                     <p><i class="fa fa-envelope" style="color: blue !important;">&nbsp;</i>Email</i>:&nbsp; {{ post.agent_email }}</p>
                                                  </div>
                                                   
                                                </div>
                                              </div>
                                        </section>
                                    </div>
                                </div>
                            
                            </div>
                            <p class=" col-4" style="padding-bottom: 40px;"><a href="{%url 'backend:agent'%}"  class="btn_1 gray"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</a></p>
                        </div>
                    </div>
                </div>
            </section>
                <!-- /.container-wrapper-->
                
        </div>
    </div>



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">{{ request.user.get_full_name }}Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'backend:logout_view' %}">Logout</a>
            </div>
        </div>
        </div>
    </div>


  <script src="{% static 'backend/vendor/chart.js/Chart.js' %}"></script>
  <script src="{% static 'backend/js/admin-charts.js' %}"></script>
</body>
{% endblock %}
