{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}
Post List
{% endblock %}

{% block content %}

    <div class="fh5co-page-title" style="background-image: url({% static 'frontend/images/home.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;"><span class="colored">Filter</span> Result</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">
        <div class="row">
            <div class="col-md-12 animate-box" style="padding-bottom:100px;">
                <h1 style="padding-top: 20px; color: #38dadf; font-size:30px; font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">Result Not Found</h1>
            </div>
        </div>
    </div>

{% endblock %}