{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Home
{% endblock %}

{% block content %}
			
			
			<!--<aside id="fh5co-hero" class="js-fullheight"> -->
			<div class="flexslider js-fullheight pt-5" style="background-image: url({% static 'frontend/images/bg-5.jpg' %}); background-repeat: no-repeat; background-size: cover;">
			</div>
			</aside>
			<div id="best-deal">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
							<h2>We are Offering the Best Real Estate Deals</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
						{% if spon %}
							{% for s in spon %}
								<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
									<div class="fh5co-property">
										<figure>
											<img src="{{ s.spon_img.url }}" alt="Free Website Templates FreeHTML5.co" class="img-responsive">
											<a href="#" class="tag">For Sale</a>
										</figure>
										<div class="fh5co-property-innter">
											<h3><a href="#">{{ s.spon_title }}</a></h3>
											<div class="price-status">
											<span class="price">&#8358;{{ s.spon_price }}</span>
											</div>
											<p>{{ s.spon_desription }}</p>
										</div>
											<p class="fh5co-property-specification">
											{{ s.spon_date }}
											</p>
									</div>
								</div>
							{% endfor %}
						{% endif %}
								
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
							<h1>Latest Properties</h1>
						</div>
						{% if lat %}
							{% for l in lat %}
							<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
								<div class="fh5co-property">
										<figure>
											<img src="{{ l.lat_img.url }}" alt="Free Website Templates FreeHTML5.co" class="img-responsive">
											<a href="#" class="tag">For Sale</a>
										</figure>
										<div class="fh5co-property-innter">
											<h3><a href="#">{{ l.lat_title }}</a></h3>
											<div class="price-status">
												<span class="price">&#8358;{{ l.lat_price }}</span>
											</div>
											<p>{{ l.lat_desription}}</p>
										</div>
										<p class="fh5co-property-specification">
											{{ l.lat_date }}
										</p>
									</div>
				
									
								</div>
							{% endfor %}
						{% endif %}
						
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class='col-md-8 col-md-offset-2 text-center fh5co-heading animate-box'>
							<strong><h1>Featured Properties</h1></strong>
						</div>
						{% if fat %}
							{% for f in fat %}
								<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">		
									<div class="fh5co-property">
										<figure>
											<img src="{{ f.fat_img.url }}" alt="Free Website Templates FreeHTML5.co" class="img-responsive">
											<a href="#" class="tag">For Sale</a>
										</figure>
										<div class="fh5co-property-innter">
											<h3><a href="#">{{ f.fat_title }}</a></h3>
											<div class="price-status">
												<span class="price">&#8358;{{ f.fat_price }} </span>
											</div>
											<p>{{ f.fat_desription }}</p>
										</div>
										<p class="fh5co-property-specification">
											{{ f.fat_date }}
										</p>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div id="fh5co-testimonial">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
							<h2>Happy Clients</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
						<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
							<blockquote>
								<p>&ldquo; She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of. &rdquo;</p>
								<p><span class="fh5co-author"><cite>Jason Davidson</cite></span><i class="icon twitter-color icon-twitter pull-right"></i></p>

							</blockquote>
						</div>
						<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
							<blockquote>
								<p>&ldquo; Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. She had a last view back on the skyline of her hometown Bookmarksgrove, the headline of. &rdquo;</p>
								<p><span class="fh5co-author"><cite>Kyle Smith</cite></span><i class="icon googleplus-color icon-google-plus pull-right"></i></p>
							</blockquote>
						</div>
						<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
								
							<blockquote>
								<p>&ldquo; The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. S	he had a last view back on the skyline of her hometown Bookmarksgrove. &rdquo;</p>
								<p><span class="fh5co-author"><cite>Rick Cook</cite></span><i class="icon facebook-color icon-facebook pull-right"></i></p>
							</blockquote>
						</div>
					</div>
				</div>
			</div> 


			<div id="fh5co-agents" style="background-color: #70b5af;">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center fh5co-heading white animate-box" data-animate-effect="fadeIn">
							<h2>Our Trusted Agents</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
						<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">

							<div class="fh5co-agent">
								<figure>
									<img src="{% static 'frontend/images/testimonial_person2.jpg' %}" alt="Free Website Template by FreeHTML5.co">
								</figure>
								<h3>John Doe</h3>
								<p>Veniam laudantium rem odio quod, beatae voluptates natus animi fugiat provident voluptatibus. Debitis assumenda, possimus ducimus omnis.</p>
								<p><a href="#" class="btn btn-primary btn-outline">Contact Me</a></p>
							</div>
							
						</div>
						<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
							<div class="fh5co-agent">
								<figure>
									<img src="{% static 'frontend/images/testimonial_person3.jpg' %}" alt="Free Website Template by FreeHTML5.co">
								</figure>
								<h3>John Doe</h3>
								<p>Veniam laudantium rem odio quod, beatae voluptates natus animi fugiat provident voluptatibus. Debitis assumenda, possimus ducimus omnis.</p>
								<p><a href="#" class="btn btn-primary btn-outline">Contact Me</a></p>
							</div>
						</div>
						<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
							<div class="fh5co-agent">
								<figure>
									<img src="{% static 'frontend/images/testimonial_person4.jpg' %}" alt="Free Website Template by FreeHTML5.co">
								</figure>
								<h3>John Doe</h3>
								<p>Veniam laudantium rem odio quod, beatae voluptates natus animi fugiat provident voluptatibus. Debitis assumenda, possimus ducimus omnis.</p>
								<p><a href="#" class="btn btn-primary btn-outline">Contact Me</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
{% endblock %}

