{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
info
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row info-page">
            <a href="#">back to property list</a>
            <div class="">
                <h3>5 Bed room Duplex for sale <span style="margin-left: 700px;">#2000000</span></h3>
                <img src="{% static 'frontend/images/house.jpg' %}" alt="">
                <div class="row">
                    <div class="col-12">
                        <ul  class="list-inline pt-4" id="info-li">
                            <li style="border: 2px solid grey;" class="col-3">2 Bedrooms <i class="fas fa-bed"></i></li>
                            <li style="border: 2px solid grey;" class="col-3">2 Bathrooms</li>
                            <li style="border: 2px solid grey;" class="col-2">2 Toilets</li>
                            <li style="border: 2px solid grey;" class="col-3">2 Parking Spaces</li>
                        </ul>
                    </div>
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <h3>More Info about the property</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis labore sed facere earum autem quos accusantium laudantium perspiciatis, sapiente eos excepturi officiis itaque reiciendis mollitia quis alias nemo rem voluptates!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus alias, quas perferendis optio repellendus, sunt atque debitis voluptatum dolore ipsa perspiciatis praesentium delectus, dicta sequi sapiente? Ducimus odio totam incidunt.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium minima labore adipisci praesentium quo repellendus aliquam eligendi minus iusto, dignissimos nemo iure alias beatae exercitationem sunt expedita laborum recusandae corrupti?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas recusandae, vitae quos maxime fugit cupiditate laborum ipsum exercitationem harum corrupti culpa alias aut suscipit tempora enim minima delectus consectetur in!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laborum sequi veniam quod molestiae quas, quibusdam dolores fugit. Vitae debitis maiores nihil commodi vero, quidem earum tenetur repellat architecto possimus!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}