{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

	  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/sign.css' %}">
    <script src="{% static 'frontend/js/modernizr-2.6.2.min.js' %}"></script>

    <title>
      {% block title %}

      {% endblock %}
      
    </title>
  </head>
  <body>
  

  <div class="d-md-flex half">
    <div class="bg" style="background-image: url({% static 'frontend/images/th1.jpg' %});"></div>
    <div class="contents">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="form-block mx-auto">
              <div class="text-center mb-5">
              <div class="row login-logo">
                <a href="{% url 'index' %}"><img src="{% static 'frontend/images/loc.png' %}"></a>
              </div>
              <h3>Sign Up</h3>
              </div>
              <form autocomplete="off" class="form" method="post">
                {% if messages %}
                  {% for mes in messages %}
                    <div class="alert alert-success">{{ mes }}</div>
                  {% endfor %}
                {% endif %}
                {{ reg }}
                <div id="pass-info" class="clearfix"></div>
                <input type="submit" class="btn btn-danger" class="btn_1 rounded full-width add_top_30 text-center" value="Register" 
                style="margin-left: 100px; padding-top: 40px; padding: 10px; font-size: 20px; border-radius:20px; width: 150px;">
                {% csrf_token %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="{% static 'frontend/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'frontend/js/popper.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/js/main.js' %}"></script>
  </body>
</html>